# Python / Django
__pycache__/
*.py[cod]
venv/
env/
.venv/
*.egg-info/
db.sqlite3

# .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo

# JetBrains (Rider/PyCharm)
.idea/

# Logs
logs/

# OS
Thumbs.db
.DS_Store
