{# Page pour créer ou modifier une salle #}

{% extends 'maitre.html' %}

{% block titre %}Cinéma – Salle{% endblock %}
{% block titrepage %}Formulaire Salle{% endblock %}

{% block contenu %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger">Sauvegarder</button>
                <a href="{% url 'salle_list' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}